<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @visitor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @visitor.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @visitor.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @visitor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @visitor.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @visitor.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @visitor.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @visitor.marital_status %>
</p>

<p>
  <strong>First time visitor:</strong>
  <%= @visitor.first_time_visitor %>
</p>

<p>
  <strong>More info requested:</strong>
  <%= @visitor.more_info_requested %>
</p>

<p>
  <strong>New to area:</strong>
  <%= @visitor.new_to_area %>
</p>

<p>
  <strong>Visit requested:</strong>
  <%= @visitor.visit_requested %>
</p>

<p>
  <strong>Learn about jesus:</strong>
  <%= @visitor.learn_about_jesus %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
